.container {
    width: 300px;
    margin: 0 auto;
    background-image: url(./white.jpg);
}

form {
    padding: 20px;
    background-color: beige;
    background-image: url(./white.jpg);
    
}

h1 {
    text-align: center;
    color: #ffa114;
    
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin-left: 700px;
    text-decoration: underline;
}
.error{
    color: red;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-left: 700px;

}
button.a{
    color: white;
}